<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button (click)="getErkekOgrenciler()">Erkekler Öğrencileri Güncelle</button> - <button (click)="getKizOgrenciler()">Kız Öğrencileri Güncelle</button>
</div>
<h1>Erkek Öğrenciler</h1>
<ul>
  <li *ngFor="let e of erkekOgrenciler;"> {{e.id}}-{{e.adi}}</li>
</ul>

<h1>Erkek ÖğrencilerVe Notları</h1>
<ul>
  <li *ngFor="let e of erkekOgrenciler;"> {{e.id}}-{{e.adi}}-{{e.not}}</li>
</ul>

<h1>Kız Öğrenciler </h1>
<ul>
  <li *ngFor="let k of kizOgrenciler; trackBy : trackByFn"> {{k.id}}-{{k.adi}}</li>
</ul>

<h1>Kız Öğrenciler ve Notları</h1>
<ul>
  <li *ngFor="let k of kizOgrenciler; trackBy : trackByFn"> {{k.id}}-{{k.adi}}-{{k.not}}</li>
</ul>


<router-outlet></router-outlet>
